body {
  padding: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: steelblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
p {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
.extrafancy {
  color: purple;
  font-family: cursive, sans-serif;
}

#special {
  color: rgb(164, 121, 69);
  font-family: cursive, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

mark {
  background-color: lightcyan;
  color: black;
}

.card {
  background-color: rgb(223, 239, 249);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: lightblue;
  width: 400px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
